@import url("reset.css");
@import url("aside.css");

:root {
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	font-style: normal;
}
body {
  overflow: hidden;
	background: rgb(231,239,248);
	background: linear-gradient(90deg, rgba(231,239,248,1) 0%, rgba(235,243,250,1) 37%, rgba(243,246,251,1) 64%, rgba(250,252,254,1) 89%);
  overflow-y: auto;
}


.informacion__personal {
	width: auto;
}

.wrapper {
  display: flex;
	flex-direction: column;
	gap: 2rem;
  height: 100%;
	padding: 1rem;
}






.wrapper_inner {
  width: 90%;
  margin: 0px auto;
}


header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
	/* padding: 0 80px; */
	height: 80px;
	overflow: hidden;
}


.menu__list {
  display: none;
}
.menu__list__item a {
  transition: .3s all ease-in;
  padding: 10px;

}


@media (min-width: 1024px) {
  .logo {
    font-size: 16px;
  }

  .menu__list {
    display: flex;
    gap: 20px;
  }

  .menu__list .menu__list__item:hover {
    font-weight: 600;
    transform: scale(1.1);
  }

  .menu__list__item__contato {
    display: none;
  }
}


.contenedor {
	width: 100%;
	margin-right: auto;
  margin-left: auto;
}


@media (min-width: 568px) {	
	.wrapper {
		flex-direction: column;
	}

	aside {
		position: relative;
	}

	.informacion__personal {
		display: flex;
	}

	.informacion__personal__area__img {
		margin-top: 0;
	}

	.datos__personales,
	.contacto__residencia {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.informacion__personal__contacto {
		margin-top: 0;
		margin-bottom: 2rem;
	}




}



@media (min-width: 992px) {	
	.contenedor {
		width: 960px;
	}
	.wrapper {
		padding: 0;
	}
}

@media (min-width: 1200px) {	

	* {
		--tamanio-aside: 380px
	}


	.contenedor {
		width: 1140px;
	}

	aside {
		width: var(--tamanio-aside);
		position: fixed;
	}

	.informacion__personal {
		display: block;
	}
	.informacion__personal__area__img {
		margin-top: -100px;
	}
	.datos__personales,
	.contacto__residencia {
		display: inline;
	}

	.informacion__personal__contacto {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}


	main {
		width: calc(100% - var(--tamanio-aside));
		margin-left: var(--tamanio-aside);
		background-color: brown;
		height: 100%;
		display: flex;
		height: 100%;
	}


}

@media (min-width: 1400px) {	
	.contenedor {
		width: 1320px;
	}
}


